<ion-card>
  <ion-card-header>
    <ion-card-title>{{ "home.start_yoga_title" | translate }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="yoga-session-details">
      <ion-icon name="time-outline"></ion-icon>
      {{ yogaSessionTime + " min" }}
    </div>
    <div class="yoga-quote">
      {{ "home.start_yoga_quote" | translate }}
    </div>
    <ion-button expand="block" shape="round">
      {{ "home.start_yoga_button" | translate }}
    </ion-button>
  </ion-card-content>
</ion-card>
