.asana-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
        vertical-align: middle;
        font-size: 16px;
        margin-right: 4px;
        color: var(--ion-color-saffron-orange);
    }

    .asana-cycles {
        font-size: 14px;
        color: var(--ion-color-dark-grey);
        font-weight: 500;
    }
}

.start-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background-color: var(--ion-color-light-grey);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    ion-button {
        flex: 1;
    }
}

.audio-container {
    margin-bottom: 18%;
}