<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="home-title">
        {{ 'home.title' | translate }}
        <hr class="title-underline" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{ 'home.title' | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-weekly-report></app-weekly-report>

  <app-patanjali-maharishi-statue></app-patanjali-maharishi-statue>

  <app-start-yoga-card></app-start-yoga-card>
</ion-content>
