.home-title {
  text-align: center;
  color: var(--ion-color-dark-grey);
  font-size: 1.1em;
}

.title-underline {
  background-color: var(--ion-color-saffron-orange);
  margin: 1.5% auto 0;
  width: 50%;
  height: 3px;
  border-radius: 50%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
